<div class="center">
	<%= image_tag("Logo.png", alt: "University App", size: "64x64", class: "responsive-img") %>
</div>	
<div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nam, fugiat earum reprehenderit enim illo tempore quae vel. Labore facere natus aliquid perferendis expedita odit unde, amet exercitationem maiores dolor.</p>
</div>