@import "materialize";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/*#logo {
	padding-left: 15px;
}*/

.main-css {
	padding-top: 15px;
}

.link-css {
	font-size: 1.2em;
}

.sign-up-form {
	padding-top: 15px;
}

.pagination li.active a {
  color: #fff;
}



.bg-secondary {
	background-color: #26A69A;
}