<% flash.each do |key, value| %>
  <div class="container">
    <div class="row sign-up-form center">
      <div class="col s12 m12 l12">
        <%= content_tag :div, value.split.map(&:capitalize)*' ', class: "center card-panel #{key} lighten-2 white-text", id: "fade-out-target" %>
      </div>
    </div>
  </div>
<% end %>